# Superstore Sales Exploratory Data Analysis

## Objective
Explore historical Superstore sales data to identify trends, profitability drivers,
shipping performance issues, and customer behavior insights.

This analysis is intended as a portfolio project demonstrating practical,
business-focused data analysis skills.


## Dataset
- Source: Public Superstore Sales dataset
- Data type: Transaction-level retail orders
- Key fields include order date, product category, sales, profit, and region

## Key Business Questions
- Which product categories and sub-categories drive the most revenue?
- How does sales performance vary over time?
- Which regions are underperforming in terms of profit?
- Are there high-sales but low-profit products?

## Tools
- Python (pandas, matplotlib, seaborn) for data cleaning and analysis
- Excel for pivot-table summaries
- Tableau for dashboard visualizations

In [19]:
import sys
print("Python executable:", sys.executable)
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Display settings
pd.set_option("display.max_columns", None)

# Load dataset
df = pd.read_csv("../data/raw/superstore.csv")

# Preview data
df.head()

Python executable: /Users/philg/sales-data-analysis/superstore-sales-analysis/.venv/bin/python

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [20]:
import pandas as pd

df = pd.read_csv("../data/raw/superstore.csv")

df.shape
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

## Initial Observations

- The dataset contains 9,800 order records.
- Sales values are highly skewed, with a small number of very large orders.
- Median sales per order are relatively low compared to the mean, indicating outliers.
- A small number of records have missing postal codes, which may affect geographic analysis.

In [21]:
df[['Order Date', 'Ship Date']].head()
df[['Order Date', 'Ship Date']].dtypes

Order Date    object
Ship Date     object
dtype: object

In [23]:
# Convert date columns to datetime first
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Now compute shipping delay
df['Shipping Delay (Days)'] = (df['Ship Date'] - df['Order Date']).dt.days
df['Shipping Delay (Days)'].describe()

ValueError: time data "15/04/2018" doesn't match format "%m/%d/%Y", at position 4. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df[['Order Date', 'Ship Date']].dtypes

Order Date    object
Ship Date     object
dtype: object

In [24]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

df[['Order Date', 'Ship Date']].dtypes

ValueError: time data "15/04/2018" doesn't match format "%m/%d/%Y", at position 4. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

## Shipping KPI derivation and analysis

This section derives `Shipping Delay (Days)` as a core operational KPI, handles mixed/invalid dates, and computes descriptive and comparative statistics by `Ship Mode`, `Category`, and `Region`.

In [ ]:
# Robust date parsing and KPI derivation
import pandas as pd
from dateutil import parser

def safe_parse_dates(series):
    # First try pandas fast path, then fallback to dateutil for remaining values
    s = pd.to_datetime(series, errors='coerce', infer_datetime_format=True)
    mask = s.isna()
    if mask.any():
        def _try_parse(x):
            try:
                return parser.parse(str(x))
            except Exception:
                return pd.NaT
        s.loc[mask] = series[mask].apply(_try_parse)
    return pd.to_datetime(s, errors='coerce')

# Apply safe parsing to the order and ship date columns (handles mixed formats)
df['Order Date Parsed'] = safe_parse_dates(df['Order Date'])
df['Ship Date Parsed'] = safe_parse_dates(df['Ship Date'])

# Create flags for parsing issues
df['Order Date Invalid'] = df['Order Date Parsed'].isna()
df['Ship Date Invalid'] = df['Ship Date Parsed'].isna()

# Derived KPI: Shipping Delay in days (can be negative if data issue)
df['Shipping Delay (Days)'] = (df['Ship Date Parsed'] - df['Order Date Parsed']).dt.days

# Basic quality summary
quality = {
    'total_records': len(df),
    'order_date_invalid': int(df['Order Date Invalid'].sum()),
    'ship_date_invalid': int(df['Ship Date Invalid'].sum()),
    'both_dates_valid': int((~df['Order Date Invalid'] & ~df['Ship Date Invalid']).sum())
}
quality

In [ ]:
# Descriptive statistics for Shipping Delay
delay = df['Shipping Delay (Days)']
desc = delay.describe(percentiles=[0.25,0.5,0.75]).to_dict()
iqr = desc.get('75%') - desc.get('25%') if ('75%' in desc and '25%' in desc) else None
overall_stats = {
    'count': int(desc.get('count', 0)),
    'mean': float(desc.get('mean', float('nan'))),
    'median': float(desc.get('50%', float('nan'))),
    'std': float(desc.get('std', float('nan'))),
    'min': float(desc.get('min', float('nan'))),
    'max': float(desc.get('max', float('nan'))),
    'IQR_days': float(iqr) if iqr is not None else None,
,
,
,
,
,
,
,
,